header {
  grid-template-columns: 10px auto;
}

.about-main {
  grid-row: 2 / 5;
  justify-self: center;
  display: block;
  max-width: 38rem;
  overflow-y: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about-heading {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.about-heading li {
  margin: 0;
  padding: 0;
}

.about-heading ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: 127.6%;
}

.about-content p {
  flex-grow: 2;
  font-size: 1.25rem;
  line-height: 127.6%;
  text-align: justify;
}

.about-main h4 {
  text-align: center;
}

.about-thanks {
  flex-grow: 2;
}

.about-thanks p {
  text-align: center;
  padding-bottom: 0 !important;
}

.about-licence {
  flex-grow: 1;
  background-color: var(--light-bg);
  padding: 1rem;
}

.about-licence table {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.about-licence th {
  padding: 0.25rem 1rem;
  font-weight: 400;
  max-width: 7rem;
}

.about-licence td {
  word-break: break-word;
}


@media only screen and (max-width: 650px) {
  .about-main {
    max-width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .about-content {
    padding: 0 1rem;
    justify-content: flex-start;
  }

  .about-heading {
    flex-direction: column;
    align-items: center;
  }


  .about-heading img,
  .about-heading,
  .about-licence,
  .about-thanks,
  .about-content p  {
    padding-bottom: 2rem;
    flex-grow: 0;
  }

  .about-main h4 {
    font-size: 1.5rem;
  }


}
