
.hint-box-wrapper {

  background-color: var(--light-bg);
  overflow-y: auto;
}

.hint-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hint-item {
  padding: 1.5rem;
  width: 42%;
}

@media only screen and (max-width: 800px)  {
  .hint-item {
    width: 100%;
  }
}
