/*
viewport breakpoints:
  navbar: 650px

 */

:root{
  --primary-color: #2E90D8;
  --red-color: #EA5E5E;
  --green-color: #5BAB2A;
  --dark-text: #262626;
  --light-text: #8B8B8B;
  --light-bg: rgba(238, 240, 242 ,0.8);
  --very-light-bg: rgb(248,250,252);
  --darker-bg: #D6D6D6;
  --browser-dark:#545454;
  --dia-green: #9CEF87;
  --dia-grey: #E0E0E0;
  --dia-violett: #5461D6;
  --dia-yellow: #F1B314;
  --dia-orange: #ED501F;
}

@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rasa Regular'), local('Rasa-Regular'), url(https://fonts.gstatic.com/s/rasa/v5/xn7vYHIn1mWmfqVUlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Rasa SemiBold'), local('Rasa-SemiBold'), url(https://fonts.gstatic.com/s/rasa/v5/xn7gYHIn1mWmdnpwggexSg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  font-family: 'Rasa', serif;
  color: var(--dark-text);
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

a:hover, button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

button {
  border-radius: 0;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 650px)  {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    line-height: 1.15;
  }
}

p {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
  line-height: 1.15;
}

img {
  vertical-align: middle;
  border-style: none;
}

header {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 100%;
  padding: 0 5%;
  align-items: center;
}

.nav-badge {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.nav-badge img {
  height: 60px;
}

.nav-mobile-menu {
  background: none;
  display: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 1rem;
}

nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  min-width: 30rem;
}

nav a {
  color: var(--light-text);
  font-size: 1.25rem;
  margin-left: 1.8rem;
}

nav a:hover {
  color: black;
}


main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem 5%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section * {
  margin: 0 2rem;
}

@media only screen and (max-width: 650px)  {
  .nav-mobile-menu {
    display: block;
    margin: 0;
  }

  nav {
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    min-width: inherit;
    margin: 0;
    padding: 0;
  }

  .nav-closed {
    display: none;
  }

  nav a {
    margin: 0;
    font-size: 1.7rem;
  }
}

footer {
  text-align: center;
  color: var(--light-text);
}

ul {
  padding: 0;
  padding-left: 1.5rem;
}

li {
  margin-top: 1.5rem;
}

li a {
  color: var(--primary-color);
}

.illustrations {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: none;
}

.illustrations img {
  margin: 0 5%;
}

@media only screen and (max-width: 650px)  {
  .illustrations {
    display: none
  }
  footer {
    display: none;
  }
}


.page {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12vh 5vh 67vh 12vh 4vh;
}

.page-1 {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh auto 10vh 4vh;
}

.page-1-logo {
  height: 100px;
}

.page-1-main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-1-main * {
  margin-bottom: 3vh;
}

.page-1-block {
  max-width: 800px;
  background-color: rgba(255,255,255,0.6);
}

.page-1-block p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.page-1-links {
  margin-top: 8vh;
}

.page-1-links a {
  margin: 1rem;
  text-align: center;
}

@media only screen and (max-width: 650px)  {
  .page-1-logo {
    width: 90vw;
  }

  .page-1-block p {
    font-size: 1.2rem;
  }

  .small {
    font-size: 1rem !important;
  }

  .page-1-links {
    display: flex;
    flex-direction: column;
  }
}

.btn {
  font-size: 1.25rem;
  padding: 0.8rem 2.2rem;
    white-space: nowrap;
}

.btn-blue {
  color: white;
  background-color: var(--primary-color);
}

.btn-outline-blue {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-outline-blue:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn-green {
  color: white;
  background-color: var(--green-color);
}

.btn-red {
  color: white;
  background-color: var(--red-color);
}

.page-title {
  text-align: center;
}

.small {
  font-size: 1.25rem;
  color: var(--light-text);
}

.active {
  color: black;
}

.invisible {
  opacity:0 !important;
  pointer-events: none !important;
}

.hidden {
  display: none !important;
}

.version {
  color: var(--light-text);
  padding: 1rem;
  white-space:nowrap;
}

.btn-wrong {
  opacity: 0.3;
}


/* HOWTO STYLES */

.howto-hints {
  background-color: var(--light-bg);
  width: 20rem;
  margin-right: 2rem;
}

.howto-content {
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  overflow-y: auto;
  max-height: 100%;
  flex-grow: 2;
  max-width: 65rem;
}

.howto-instruction:nth-child(even) {
  align-self: flex-end;
}

.howto-instruction {
  max-width: 40rem;
  display: flex;
}

.howto-instruction p {
  display: block;
  font-size: 1.25rem;
}

.howto-instruction span {
  font-size: 3rem;
  margin-right: 1rem;
}
