.entry-screen {
  position: fixed;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: opacity 0.5s;
  text-align: center;
}

.entry-screen img {
  margin-bottom: 4rem;
}

.hints {
  max-width: 25rem;
  background-color: var(--light-bg);
  padding: 1.5rem;
  margin-right: 1rem;
  overflow-y: auto;
  transition: max-width .5s, padding .2s, margin .2s;
}

@media only screen and (max-width: 650px) {
  .hints {
    position: absolute;
    z-index: 14;
    background-color: rgb(246, 248, 250);
    margin-right: 0;
    max-height: 100%;

    -webkit-box-shadow: 4px 13px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 13px 10px  rgba(0,0,0,0.15);
    box-shadow: 4px 13px 10px rgba(0,0,0,0.15);
  }
}

.hints ul, .hints h4 {
  transition: opacity .4s;
  transition-delay: .4s;
}

.hint-hidden {
  max-width: 0;
  margin: 0;
  padding:0;
  transition-delay: .7s;
}

.hint-hidden ul,  .hint-hidden h4{
  opacity: 0;
  transition-delay: 0s;
}

.hint-text-hidden{
  overflow: hidden !important;
}

.question-header {
  text-align: center;
  margin: 1rem;
}

.question {
  flex-grow: 5;
  max-width: 65rem;
  min-width: 60%;
}

.web {
  height: 100%;
}

.browser-header {
  height: 2.5rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background-color: var(--browser-dark);
}

.browser-controls {
  grid-column: 1 / 2;
  margin: 0 1.5rem;
  pointer-events: none;
}

.url-box {
  height: 65%;
  width: 100%;
  min-width: 20rem;
  grid-column: 2 / 3;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: grey;
}

.url-box span {
  max-width: 100%;
  font-size: 1.2rem;
  color: white;
  background-color: grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.url-box img {
  margin-right: 0.5rem;
  pointer-events: none;
}

.browser-content {
  max-height: calc(100% - 2.5rem);
  overflow-y: auto;
  border: 1px solid var(--browser-dark);
  border-top: none;
}

.browser-content img {
  width: 100%;
  cursor: zoom-in;
}

.img-expand {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 20;
}

.img-expand iframe {
  border:none;
  width: 100%;
  height: 80%;
  max-width: 1200px;
}

.img-expand button {
  margin-top: 2rem;
  background: none;
  filter: invert(1);
}

.mail{
  height: 100%;
  background-color: var(--light-bg);
  border: 1px solid var(--darker-bg);
  display: grid;
  grid-template-columns: 8% auto 6%;
  grid-template-rows: 7.5rem auto;
}

.mail-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-self: center;
}

.mail-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid var(--darker-bg);
  display: grid;
  grid-template-columns: 5rem auto;
  grid-template-rows: 50% 50%;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 2vh;
}

.mail-header span {
  background-color: var(--very-light-bg);
  font-size: 1.1rem;
  padding: 0.5rem;

}

.mail-header h5 {
  font-weight: 600;
}

.mail-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--very-light-bg);
  margin-bottom: 4vh;
  margin-top: 1rem;
  padding: 1rem;
  overflow-y: auto;
}

@media only screen and (max-width: 650px) {
  .mail-icon, .browser-controls  {
    display: none;
  }

  .answer-section button {
    padding: 1rem;
    margin: 0.2rem;
  }

  .question-header {
    font-size: 1.3rem;
    margin: 0.2rem;
  }
}

.answer-section button {
  margin:0.5rem;
}



.correct {
  color: var(--green-color);
}

.incorrect {
  color: var(--red-color);
}

.slide-in-top {
	-webkit-animation: slide-in-top 1s ease-in-out both;
	        animation: slide-in-top 1s ease-in-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-5 10:52:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



.slide-out-top {
	-webkit-animation: slide-out-top 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: slide-out-top 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-5 10:55:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-5 15:39:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.text-blur-out {
	-webkit-animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-5 15:40:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
